 <article class="product-detail">
            <img src="{{productData.image}}">
            <h2>{{productData.name}}</h2>
            <p>{{productData.description}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Key Ingredients:</h3>
            <p>{{productData.ingredients}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Benefits:</h3>
            <p>{{productData.benefits}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Skin Type:</h3>
            <p>{{productData.skin}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Price: {{productData.price}}</h3>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

                <h3>People Who Recommend: 0</h3>
        </article>

        <div class="command">
            <a href="#">Edit</a>
            <a href="#">Delete</a>

            <a href="#">Recommend</a>
            <p>You've already recommended this product!</p>
        </div>
