 <article class="product-detail">
            <img src="{{productData.image}}">
            <h2>{{productData.name}}</h2>
            <p>{{productData.description}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Key Ingredients:</h3>
            <p>{{productData.ingredients}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Benefits:</h3>
            <p>{{productData.benefits}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Skin Type:</h3>
            <p>{{productData.skin}}</p>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

            <h3>Price: {{productData.price}}</h3>

            <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

                <h3>People Who Recommend: {{productData.recommends.length}}</h3>
        </article>
         
          {{#if isAuthenticated}}
        <div class="command">
            {{#if isOwner}}
            <a href="#">Edit</a>
            <a href="/products/{{productData.id}}/delete">Delete</a>
            {{else if  isRecommended}}
           <p>You've already recommended this product!</p>
            {{else}}
            <a href="/products/{{productData.id}}/recommend">Recommend</a>
            {{/if}}
        </div> 
        {{/if}}
